@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'Horizon';
    src: url('assets/fonts/Horizon.otf') format('opentype');
}

body,
html {
    margin: 0;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;

}

.bg-frist-section {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url('assets/fristSection/bg.png');
    object-fit: cover;
    background-size: cover;
    background-position: bottom;
}



.frist-section {
    background-color: transparent;
    margin: 0px 32px;
}

.frist-section .bar {
    width: 5vw;
}



.logo {
    height: 88px;
    display: flex;
    align-items: center;
    max-width: 489px;
    width: 100%;
    margin-bottom: 60px;
}

.header {
    display: flex;

}

.frist-section .img>img {
    border-radius: 15px;
    -webkit-box-shadow: 20px 18px 0px 1px rgba(193, 252, 84, 1);
    -moz-box-shadow: 20px 18px 0px 1px rgba(193, 252, 84, 1);
    box-shadow: 20px 18px 0px 1px rgba(193, 252, 84, 1);
    max-width: 460px;
    width: 100%;
}

.infos {
    margin-left: 59px;
    position: relative;
}

.bar {
    background: #C1FC54;
    height: 8px;
    /* max-width: 80px; */
    position: absolute;
    top: 17px;
    right: 0px;

}

h1 {
    font-family: 'Horizon';
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #F4F4F4;
    margin: 0px;

}


.infos>p {
    font-family: 'Roboto', sans-serif;
    max-width: 850px;
    width: 100%;
    color: white;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    margin-top: 58px;
}

.subtitle {
    color: white;
    font-family: 'Roboto';
    font-size: 50px !important;
    font-weight: 400 !important;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 80px;
}

.title-notes {
    color: #C1FC54;
}

.btn {
    max-width: 471px;
    height: 55px;
    border-radius: 16px;
    padding: 10px;
    width: 100%;
    background: #C1FC54;
    color: black;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    border: none;
    cursor: pointer;

}

.btn a {
    text-decoration: none;
    color: black;
}

.footer-frist-section {
    display: flex;
    justify-content: center;
}

.frist-button {
    margin-top: 50px;
}

.secound-section {
    width: 100%;
    margin-top: 160px;
    position: relative;
    display: flex;
    justify-content: center;
}

.secound-section .bar {
    width: 40vw;
    right: calc(0px);
    top: 25px;
}

.subtitle-secound-section {
    color: white;
    font-family: Horizon;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 64px;

}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

.cards .card {
    max-width: 320px;
    width: 100%;
    margin-right: 32px;
    margin-top: 16px;
}

.cards .card img {
    border-radius: 20px;
    width: 100%;
}

.cards .card .description {
    margin-top: 24px;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 24px;
}

.cards .card .footer a {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #C1FC54;
    text-decoration: none;
}

.third-section {
    width: 100%;
    margin-top: 160px;
    position: relative;
    display: flex;
    justify-content: center;
}

.third-section .title h1 {
    text-align: center;
    margin-bottom: 40px;
}


.third-section .complaint {
    display: flex;
}

.third-section .complaint .img {
    margin-right: 37px;

}

.third-section .complaint .img .footer a {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    font-family: 'Roboto';
    color: #C1FC54 !important;
    text-decoration: none;
}

.frist-row-complaint {
    margin-bottom: 80px;
}


.third-section .complaint .img img {
    width: 100%;
    object-fit: cover;
}



.fourth-section {
    width: 100%;
    margin-top: 160px;
    position: relative;
    display: flex;
    justify-content: center;
}

.fourth-section .title {
    display: flex;
    justify-content: end;
}

.fourth-section .title h1 {
    max-width: 950px;
    text-align: end;
}


.fourth-section .bar {
    width: 35vw;
    left: calc(0px);
    top: 50px;
}

.fourth-section .cards {
    display: flex;
}


.fourth-section .card {
    max-width: 380px;
    height: 504px;
    border-radius: 30px;
    background-color: #121212;
    padding: 30px;
    -webkit-box-shadow: 20px 18px 0px 1px rgba(193, 252, 84, 1);
    -moz-box-shadow: 20px 18px 0px 1px rgba(193, 252, 84, 1);
    box-shadow: 20px 18px 0px 1px rgba(193, 252, 84, 1);
    margin-right: 40px;
}

.fourth-section .cards .card {
    width: 100%;
}

.fourth-section .cards .card p {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #F4F4F4;
}

.fourth-section .cards .card .title-card {
    font-family: Horizon;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #C1FC54;
    text-decoration: underline
}




.fifth-section {
    width: 100%;
    margin-top: 160px;
    position: relative;
    display: flex;
    justify-content: center;
}

.fifth-section .title {
    display: flex;
    justify-content: start;
    margin-bottom: 64px;
}

.fifth-section .title h1 {
    max-width: 950px;
    text-align: left;
}

.fifth-section .container {
    display: flex;
}

.fifth-section .bar {
    width: 35vw;
    right: calc(0px);
    top: 50px;
}

.fifth-section .content {
    display: flex;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;



}

.fifth-section .content .img {
    width: 70%;
    margin-right: 33px;
}

.fifth-section .content .img img {
    width: 100%;
    object-fit: cover;
}

.fifth-section .description {
    width: 29%;
    color: white;
}



.sixth-section {
    width: 100%;
    margin-top: 160px;
    position: relative;
    display: flex;
    justify-content: center;

}

.sixth-section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.sixth-section .title h1 {
    max-width: 950px;
    font-size: 60px;
    text-align: left;
}

.sixth-section .container {
    display: flex;
    max-width: 100%;

}

.sixth-section .content {
    height: 1200px;
    background: url('assets/sixthSection/Ticketeiras\ e\ produtoras.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sixth-section .layer h1 {
    text-align: center;
    font-size: 40px;
}

.sixth-section .layer {
    display: flex;
    max-width: 865px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    justify-content: center;
    padding: 70px;
    border-radius: 30px;
}







.seven-section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    background: url('assets/sevenSection/Compradores\ e\ Revendedores.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.seven-section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.seven-section .title h1 {
    max-width: 950px;
    font-size: 60px;
    text-align: left;
}

.seven-section .container {
    display: flex;
    max-width: 100%;

}

.seven-section .content {
    height: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.seven-section .layer h1 {
    text-align: center;
    font-size: 40px;
}

.seven-section .layer {
    display: flex;
    max-width: 865px;
    flex-direction: column;
    backdrop-filter: blur(10px);
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    justify-content: center;
    padding: 70px;
    border-radius: 30px;
}

.eighth-section {
    margin-top: 80px;
    background: url('assets/eighthSection/Mask\ group.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 624px;
    width: 100%;
    height: auto;
}

.eighth-section .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
}

.eighth-section .header .title h1 {
    font-size: 40px;
    font-family: Horizon;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
    color: #121212;

}

.eighth-section .header .title {
    max-width: 672px;
    width: 100%;
}


.eighth-section .header .line {
    width: 100%;
    height: 8px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}


.eighth-section .content-eighth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.cart-circle {
    position: relative;
}

.mark {
    position: absolute;
    top: 100px;
    left: 65px;
}

.eighth-section .content-eighth .img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 33px;
}

.eighth-section .content-eighth .footer {
    height: 80px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #121212;
    font-weight: 700;
    max-width: 320px;
}


footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

footer .button {
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .line {
    width: 100%;
    height: 4px;
    background-color: #C1FC54;
    display: flex;
    justify-content: center;
    align-items: center;
}





@media screen and (max-width: 1365px) {
    .bar {
        top: 50px;
        left: 0px;
    }

    .secound-section .bar {
        width: 40vw;
        right: calc(0px);
        top: 50px;
    }
}

@media screen and (max-width: 860px) {
    footer .line {
        display: none;
    }

    footer .btn {
        margin: 0px;
    }

    .third-section {
        margin-top: 0px;

    }

    .third-section .title h1 {
        font-size: 18px;
        line-height: normal;
    }

    .complaint {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;

    }




    .third-section .complaint .img {
        margin-right: 0px !important;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .secound-section .title h1 {
        font-size: 24px !important;
        margin-left: 16px;
    }

    .secound-section {
        margin-top: 64px;
    }


    .secound-section .subtitle-secound-section {
        font-size: 20px !important;
        line-height: normal;
    }


    .header {
        margin: 0px;
        display: flex;
        flex-direction: column;
    }

    .header .infos {
        margin: 16px;
    }

    .header .infos h1 {
        margin-top: 41px;
        font-size: 20px !important;
        font-weight: 700;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
    }

    .header .infos p {
        font-size: 18px;
        margin-top: 30px;
    }

    .frist-section {
        margin: 0px 32px 16px 16px;

    }

    .secound-section .cards {
        padding: 16px !important;
    }

    .frist-section .bar {
        top: 80px;
        width: 200px;
        right: 0px;
    }

    .frist-section .subtitle {
        margin-top: 40px;
        font-size: 20px !important;
        line-height: normal;
    }

    .cards .card {
        max-width: 100%;
        width: 100%;
        margin-bottom: 49px !important;
    }


    .cards .description {
        font-size: 16px !important;
    }

    .cards .footer a {
        font-size: 14px !important;
    }

    .fourth-section .title h1 {
        max-width: 100%;
        text-align: end;
        font-size: 16px;
        line-height: normal;
    }

    .fourth-section .cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fourth-section .cards .card {
        width: 70%;
        margin-left: 16px;
        height: auto;
    }

    .fifth-section .title h1 {
        max-width: 100%;
        font-size: 16px;
        line-height: normal;
    }

    .fifth-section .content {
        flex-direction: column;
        padding: 16px;
    }

    .fifth-section .content .img {
        width: 100%;

    }

    .fifth-section .description {
        width: 100%;
    }

    .sixth-section .content {
        height: auto;
        padding: 16px;
    }

    .sixth-section .title h1 {
        font-size: 20px;
    }

    .sixth-section .title {
        margin-bottom: 0px !important;
    }

    .sixth-section .layer h1 {
        font-size: 20px;
        line-height: normal;
    }

    .sixth-section .layer {
        font-size: 20px;
        padding: 40px;
    }


    .seven-section .content {
        height: auto;
        padding: 16px;
    }

    .seven-section .title h1 {
        font-size: 20px;
    }

    .seven-section .layer h1 {
        font-size: 20px;
        line-height: normal;
    }

    .seven-section .layer {
        font-size: 20px;
        padding: 40px;
    }
    
    .fourth-section .cards .card .title-card{
        font-size: 20px;
    }

    .fourth-section .cards .card p {
        font-size: 20px;
    }

}